celery==3.*
django==1.8.*
psycopg2

-e git+ssh://git@bitbucket.org/cusdeb/django-cusdeb-firmwares.git#egg=django-cusdeb-firmwares
-e git+ssh://git@bitbucket.org/cusdeb/django-cusdeb-users.git#egg=django-cusdeb-users
-e git+ssh://git@bitbucket.org/cusdeb/shirow.git#egg=shirow
